// Body
.senex__body {

  .senex__supertitle {

  }

  .senex__title {
    font-weight: 700;
  }

  .senex__subtitle {
    font-style: italic;
  }

  .senex__text {
    padding: 8px $senex-horizontal-margin 8px $senex-horizontal-margin;

  }

  .senex__link {
    
  }

}
