.senex__courtdate-calendar {

  font-size: 0.9rem;

  &__courtdate {
    position: relative;

    display: block;
    width: 100%;
    background-color: shade($senex-color-light-grey-shade,25%);
    color: white;

    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem;
  }

  &__time {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.25rem 0.5rem 0.1rem 0.1rem;
    background-color: shade($senex-color-light-grey-shade,25%);
    box-shadow: -3px 2px 3px shade($senex-color-light-grey-shade,25%);
  }

}
