.senex__files {

	&__zone {
			padding: 2rem;
			font-size: 1.35rem;
			text-align: center;
			margin: 1rem;
			border-radius: 1rem;
			border: 3px solid rgba(0,0,0,0.05);
			position: relative;

			& > i {
				display: block;
			}
	}

	&__target {
		&::before {
			display:none; 
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-decoration: inherit;
			color: white;
			text-align: center;
			font-size: 2rem;
			vertical-align: middle;
			padding: 1rem 0 0 0;
			background-color: black;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 100;
		}
		&::after {
			color: white;
			display:none; 
			font-weight: bold;
			text-align: center;
			font-size: 1.2rem;
			line-height: 2rem;
			vertical-align: middle;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 101;
		}

		&.is-dragover {
			&::before {
				display: block;
				content: "\f0ee";
			}

			&::after {
				display: block;
				content: 'Drop here to upload to Senex.';
			}	
		}

		&.is-uploading {
			&::before {
				display: block;
				content: "\f0ee";
			}

			&::after {
				display: block;
				content: 'Uploading.';
			}	
		}

		&.is-success {
			&::before {
				display: block;
				content: "\f0ee";
			}

			&::after {
				display: block;
				content: 'Drop here to upload to Senex.';
			}	

		}

		&.is-error {
			&::before {
				display: block;
				content: "\f0ee";
			}

			&::after {
				display: block;
				content: 'Drop here to upload to Senex.';
			}	

		}

	}

}
