.senex__page--error {
  background-image: url("../images/backgrounds/senex-background-bw.jpg");

  color: $senex-color-purple;
  font-family: "skippy-sharp";


  a {
    color: $senex-color-orange;
  }

  .senex__headline {
    font-size: 4rem;
  }



}
