.senex__page--login {

  .senex__header {
    background-color: transparent;

    .megamenu_container {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .senex__column--content {
    width: 480px;
  }

  .senex__card__header {
    background-image: url("../images/law-open-stack.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $senex-color-blue;
    color: white;
  }

  // Responsive.
  @include media("<=phone") {
    .senex__card {
      margin: 0;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }

}
