.senex__theme--wmci {

  &.senex__template {
    background-image: url("/images/themes/wmci/tex-bex.jpg");

    &:after {
      background-image: url("/images/logos/senex-powered-block-white.svg");
      height: 75px;
    }
  }

  &.senex__template.senex__page--login {

    .senex__card {

      .senex__card__header {
        background-image: url("/images/themes/wmci/WPLogo.png");
        background-position: 80% 90%;
        background-size: 60%;
        background-repeat: no-repeat;
        background-color: $senex-color-red-shade;

        padding: 0;
        height: 460px;
      }

    }

  }



}
